<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>Error</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="jumbotron-title">Something Broke</h1>
        <p class="jumbotron-subtitle">Someone is in trouble now.</p>
    </div>
</body>

</html>