<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New Url Page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="jumbotron" style="text-align: center">
        <div id="result">
            <h3 class="jumbotron-title-condensed">New Link: </h3>
            <div class="jumbotron-subtitle">
                <a th:href="*{new_url}" th:text="*{new_url}"></a>
            </div>
        </div>
    </div>
</body>

</html>