<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta property="og:video" th:content="${new_url}">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <video controls>
        <source th:src="*{new_url}" th:type="*{video_type}">
    </video>
</body>

</html>